<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem vindo(a) ao mercantil do seu josé!</h1>
    <p>Agora são: {{ now }}</p>
</body>
</html>