<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>
<body>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - {{ produto.descricao }} - {{ produto.valor_uni }} - 
                {{ produto.valor_atacado}} - {{ produto.estoque }} - {{ produto.categoria }}</li>
        {% endfor %}
    </ul>
</body>
</html>